.location {
  border-bottom: 1px solid $SILVERSAND;
  padding: 0 0 20px;
  margin-top: 35px;
  margin-bottom: 20px;

  &__text {
    font-weight: 400;
    font-size: 22px;
    color: $EMPEROR;
    margin-right: 80px;
  }
}

.on-off-switch {
  display: inline-block;
}

.location-icon {
  font-size: 30px;
  color: $SILVERCHALICE;
}

.select-wrap {
  &_margin {
    margin-top: 35px;
    margin-bottom: 200px;

    &:first-child {
      padding-left: 0;
    }
  }
}