//Colors
$WHITE: #fff;
$GALLERY: #ececec;
$SILVERSAND: #c5c7c7;
$ALTO: #e0e0e0;
$SILVERCHALICE: #9f9f9f;
$DUSTYGRAY: #9f9d9d;
$BOULDER: #777676;
$DOVEGRAY: #6B6969;
$EMPEROR: #504e4e;
$TUNDORA: #444;
$SOLITUDE: #e6f2fe;
$PICTONBLUE: #51adf6;
$DODGERBLUE: #2196f3;
$MARINER: #2474ce;
$SCIENCEBLUE: #046cd4;
$LOCHMARA: #037ad9;
$NILEBLUE: #183f4a;


