//Colors
$WHITE: #fff;
$GALLERY: #ececec;
$SILVERSAND: #c5c7c7;
$ALTO: #e0e0e0;
$SILVERCHALICE: #a8a7a7;
$TUNDORA: #444;
$PICTONBLUE: #51adf6;
$DODGERBLUE: #2196f3;
$MARINER: #2474ce;
$SCIENCEBLUE: #046cd4;
$NILEBLUE: #183f4a;


