body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $NILEBLUE;
}

.wrap {
  width: 1204px;
  background-color: $GALLERY;
  box-shadow: 0 4px 40px 20px rgba(0, 0, 0, 0.5);

  &__title {
    font-weight: 500;
    font-size: 24px;
    color: $TUNDORA;
    margin-left: 50px;
    margin-top: 25px;
  }
}

.check-in {
  background-color: $WHITE;
  margin: 25px 30px 30px;
  padding: 15px 15px;
  box-shadow: 0 2px 2px 0 rgba(197, 199, 199, 0.7);
}

.container_width {
  width: auto;
}

.tabs {
  height: 50px;
  background-color: $DODGERBLUE;
  line-height: 50px;
  list-style: none;
  counter-reset: myCounter;
  margin-bottom: 50px;
}

.tabs-item {
  position: relative;
  padding: 0;
  left: -40px;
  cursor: pointer;

  &::after {
    counter-increment: myCounter;
    content: counter(myCounter);
    width: 35px;
    height: 35px;
    text-align: center;
    border: 2px solid $WHITE;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 7px;
    left: 12px;
    line-height: 32px;
    font-weight: 700;
    font-size: 19px;
    color: $WHITE;
  }

  &:hover, &:active, &_active {
    background-color: $PICTONBLUE;
  }

  &__text {
    padding-left: 62px;
    font-weight: 500;
    font-size: 18px;
    color: $WHITE;
    border-right: 1px solid $MARINER;
  }
}

.step {
  display: none;
  margin-right: 25px;
  margin-left: 25px;

  &__title {
    font-weight: 400;
    font-size: 22px;
    color: $EMPEROR;
    margin-bottom: 10px;
  }

  &__text {
    font-weight: 300;
    font-size: 16px;
    color: $DOVEGRAY;
    margin-bottom: 50px;
  }

  &__line {
    width: 1040px;
    height: 1px;
    background-color: $SILVERSAND;
    box-shadow: 0 0 1px 0 rgba(197, 199, 199, 0.7);
  }
}

.info {
  padding: 0;
}

.user {
  margin-top: 50px;
  position: relative;

  &__title {
    display: none;
    font-weight: 400;
    font-size: 14px;
    color: $SILVERCHALICE;
    position: absolute;
    bottom: 32px;

    &_bottom {
      top: 0;
    }
  }

  &__input-text {
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    color: $SILVERCHALICE;
    border: none;
    border-bottom: 1px solid $SILVERSAND;

    &_padding {
      padding-left: 32px;
    }

    &:focus {
      outline: none;
      border-bottom: 1px solid $SCIENCEBLUE;
    }
  }

  &:last-child {
    margin-bottom: 80px;
  }

  &__icon {
    font-size: 20px;
    color: $SILVERCHALICE;
    position: relative;
    top: 28px;
  }
}

.user-email {
  padding: 0;
  margin-top: 25px;
}

.select-wrap {
  margin-top: 52px;

  &__title {
    font-weight: 400;
    font-size: 18px;
    color: $SILVERCHALICE;
    border-bottom: 1px solid $SILVERSAND;
    cursor: pointer;
  }

  &__icon {
    font-size: 25px;
    position: absolute;
    top: 0;
    right: 15px;
    color: $SILVERCHALICE;
  }
}

.select {
  display: none;
  list-style-type: none;
  width: 325px;
  box-shadow: 6px 6px 25px -2px rgba(107, 105, 105, 0.7);
  padding: 0;
  position: absolute;
  top: -15px;
  z-index: 2;
  background-color: $WHITE;

  &__item {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 18px;
    color: $DOVEGRAY;
    padding: 15px 0 10px 20px;
    cursor: pointer;

    &:hover {
      background-color: $GALLERY;
    }
  }
}

.direction {
  height: 50px;
  line-height: 50px;
  background-color: $GALLERY;

  &.active {
    background-color: $WHITE;

    .direction-left__text, .direction-right__text,
    .direction-left__icon, .direction-right__icon{
      background-color: $DODGERBLUE;
      color: $WHITE;
      transition: color 0.2s, background-color 0.2s;
    }

    .direction-left__text:hover, .direction-right__text:hover,
    .direction-left__text:hover .direction-left__icon,
    .direction-right__text:hover .direction-right__icon {
      background-color: $SOLITUDE;
      color: $LOCHMARA;
    }

    .direction-left__text {
      padding: 16px 30px 16px 45px;
    }

    .direction-right__text {
      padding: 16px 45px 16px 30px;
    }
  }
}

.direction-left__text, .direction-right__text {
  cursor: pointer;
}

.direction-left, .direction-right {
  padding: 0;
}

.direction-left {
  &__text {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    color: $DUSTYGRAY;
    padding: 16px 30px 16px 45px;
  }

  &__icon {
    font-size: 25px;
    color: $DUSTYGRAY;
    position: absolute;
    top: 12px;
    left: 0;
    padding-left: 18px;
  }
}

.direction-right {
  text-align: right;
  padding: 0;

  &__text {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color: $DOVEGRAY;
    padding: 16px 45px 16px 30px;
  }

  &__icon {
    font-size: 25px;
    color: $DOVEGRAY;
    position: absolute;
    top: 12px;
    right: 0;
    padding-right: 18px;
  }
}

.photo {
  text-align: center;
  width: 245px;
  height: 280px;
  border: 2px dashed $ALTO;
  margin: 50px auto 0;

  &__icon {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 40px;
    color: $GALLERY;
  }

  &__title {
    font-weight: 400;
    font-size: 14px;
    color: $TUNDORA;
    margin-bottom: 15px;
  }

  &__btn {
    background-color: $DODGERBLUE;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 11px;
    color: $WHITE;
    border: none;
    padding: 10px 20px;
    box-shadow: 0 3px 20px -5px rgba(0, 0, 0, 0.75);
    margin-bottom: 15px;
    transition: background-color 0.2s;

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: #51adf6;
    }
  }

  &__text {
    font-size: 13px;
    font-style: italic;
    color: $BOULDER;
  }
}

.step-active {
  display: block;
}

